dash
dash_bootstrap_components
dash_daq
ibm-cloud-sdk-core
jproperties
markdownify
pandas
python-dotenv
requests
ibm-generative-ai
datasets
ibm-watson-machine-learning
scikit-learn
matplotlib
wget
ibm-watson
dash[diskcache]
configobj
sentence-transformers
Py2PDF2
elasticsearch